<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="2" name="Test" parallel="methods">
		<classes>
			<class name="TestCases.ReadExcelData" />
			<class name="TestCases.NewChange" />
			<class name="TestCases.VerifyFilghtAnhorTag_c1" />
			<class name="TestCases.VerifyOmayoPage" />
			<class name="TestCases.VerifyAvistraDropDown" />
			<class name="TestCases.VerifyMutiselectDropdown" />
			<class name="TestCases.BaseTest" />
			<class name="TestCases.VerifyTableData" />
			<class name="TestCases.VerifyPageNavigation" />
			<class name="TestCases.VerifyUploadFile" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
